body {
  margin: 0 auto;
  background-color: #0d0d0d;
  scroll-snap-type: smooth;
}

body .section {
  scroll-snap-align: top;
  overflow: auto;
  width: 100vw;
}

/*nav bar*/
header {
  background-color: #0d0d0d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding-left: 32px;
  padding-right: 32px;
}
header ul {
  list-style: none;
  color: #3CF2F3;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18pt;
  display: flex;
}
#tabs li {
  width: max-content;
  padding-left: 32px;
}

a{
  color: #3CF2F3;
  text-decoration: none;
}
h4 a:hover {
  color: #f322bb;
}

#line1, #line2, #line3, #line4 {
  display: none;
}


/*hero section*/
.heroImg {
  background-color: #0d0d0d;
  padding-top: 128px;
  padding-bottom: 128px;
  width: 100%;
}
.content {
  max-width: 500px;
  margin: 0 auto;
  padding: 0px;
  text-align: center;
}
button {
  padding: 16px;
  background-color: #3cf2f3;
  color: #0d0d0d;
  border-radius: 16px;
  font-size: 16pt;
  font-weight: 200;
}
button a{
  color:#0d0d0d;
}

/* my work section */
#myWork {
  padding-top: 16px;
  padding-left: 32px;
  padding-right: 32px;
  background-color: #0d0d0d;
}
.heading {
  text-align: center;
  font-size: 24px;
  background-color: #0d0d0d;
  padding-top: 32;
}
.workGrid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
  "img1 project1"
  "project2 img2"
  "img3 project3"
  ;
}
.workGrid img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}
.img1 {
  grid-area: img1;
  float:right;
  padding: 32px;
}
.img2 {
  grid-area: img2;
  padding: 32px;
}
.img3 {
  grid-area: img3;
  float:right;
  padding: 32px;
}
.project1 {
  grid-area: project1;
  float:left;
  padding-top: 32px;
}
.project2 {
  grid-area: project2;
  text-align: right;
  padding-top: 32px;
}
.project3 {
  grid-area: project3;
  float: left;
  padding-top: 32px;
}
#myWork h4 {
  text-align: center;
  text-decoration: underline;
  padding: 0px;
}

/* about section */
#aboutMe {
  margin: 0 auto;
  background-color: #0d0d0d;
}
#aboutImage {
  width: 500px;
}
#aboutMe p {
  text-align: left;
  width: auto;
}
#aboutMe h3 {
  text-align: left;
  width: fit-content;
}
.flexContainer li {
  width: fit-content;
}
.flexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flexContainer div {
  width: 25%;
  margin: 0 auto;
}

.flexContainer ul {
  color: white;
  list-style: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16pt;
  font-weight: 250;
  line-height: 1.5;
}


.flexContainer2 {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  
} 
.flexContainer2 div {
  width: 100%;
  margin: 32px;
}

.meImg {
  display: flexbox;
  align-items: center;
  width: fit-content;
  padding-left: 32px;
  padding-right: 16px;
}
.bio {
  display:flex;
  justify-content: center;
  padding-left: 16px;
  padding-right: 32px;
}


/*contact section*/
#contact {
  background-color: #0d0d0d;
  width: 100%;
  display: inline-block;
  text-align: center;
}
#contactInfo .content {
  padding-top: 128px;
  padding-bottom: 256px;
}

/*font styles*/
h1, h2, h3, h4 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  font-weight: 200;
  font-size: 16pt;
}
h1, .heading {
  font-size: 32pt;;
  font-weight: medium;
  color: #3CF2F3;
  width: 100%;
}
h2 {
  font-size: 24pt;
  color: #ffffff;
}
h3 {
  font-size: 16pt;
  font-weight: medium;
  color: #3CF2F3;
}
h4 {
  font-size: 16pt;
  font-weight: normal;
  color: #3CF2F3;
}

/*footer*/
footer {
  background-color: #0d0d0d;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 32px;
  padding-right: 32px;
  
}
#footerNav {
  list-style: none;
  display: flex;
}
#footerNav li {
  color: #3CF2F3;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18pt;
  width: max-content;
  padding-left: 32px;
}
#line5, #line6, #line7, #line8 {
  display: none;
}


@media all and (max-width:1000px){
  .h1 {
    font-size: 48pt;
    width: fit-content;
  }
  p {
    font-size: 18pt;
  }
  .workGrid {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "img1" 
    "project1"
    "img2"
    "project2" 
    "img3" 
    "project3"
    ;
  }
  .workGrid img {
    max-width: 1fr;
    margin: 0 auto;
    display: block;
  }
  .img1 {
    grid-area: img1;
    padding-top: 128px;
  }
  .img2 {
    grid-area: img2;
    padding-top: 256px;
  }
  .img3 {
    grid-area: img3;
    padding-top: 256px;
  }
  .project1 {
    grid-area: project1;
    text-align: center;
  }
  .project2 {
    grid-area: project2;
    text-align: center;
  }
  .project3 {
    grid-area: project3;
    text-align: center;
  }
  .myWork h4 {
    padding-bottom: 256px;
  }

  .flexContainer {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "skills1"
    "skills2"
    "skills3"
  ;
  }

  .flexContainer div {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .flexContainer ul {
    text-align: center;
    
  }
  .flexContainer li {
    text-align: center;
  }
  .skills1 {
    grid-area: skills1;
    max-width: fit-content;
    padding-left: 0;
    text-align: center;
  }
  .skills2 {
    grid-area: skills2;
    max-width: fit-content;
    
  }
  .skills3 {
    grid-area: skills3;
    max-width: fit-content;
  }
  .flexContainer2 {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    padding-left: 64px;
    padding-right: 64px;
    justify-content: center;

  } 
  .flexContainer2 div {
    width: 100%;
    margin: 0 auto;
  }
  .flexContainer2 .meImg {
    display: flex;
    align-items: center;
    max-width: fit-content;
  }
  .bio {
    display:flex;
    justify-content: flex-start;
  }
  .skills1 ul {
    max-width: fit-content;
    text-align: center;
  }
  .skills h3{
    max-width: fit-content;
  }

}